

/* Assuming you have a CSS file or CSS module linked to this component */

.contentContainer {
  max-width: 90%; /* Adjust the maximum width as needed */
  margin: 0 auto;
  margin-top: 2em;;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  height: auto;
}

.jobFeed {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Three columns */

}

@media screen and (max-width: 768px) {
  .jobFeed {
    display: grid;
    grid-template-columns: repeat(1, 1fr);

  }
}

.MainContainer {
  height: 100vh;
}



.jobPostImage {
  width: 100px;
  height: 100px;
  margin-right: 20px;
  border-radius: 5px;
}

.jobPostDetails {
  display: flex;
  flex-direction: column;
}

.jobPostTitle {
  font-size: 1.2rem;
  margin-bottom: 5px;
}

.jobPostDescription {
  font-size: 1rem;
}

.addJobButton {
  text-align: center;
  margin-top: 20px;
}

.addJobButton button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 2em;
  margin-top: 2em ;
}

.addJobButton button:hover {
  background-color: #0056b3;
}



/* You can add more styles as needed */
