@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&display=swap');
body{
  margin:0;
  border-radius: 0%;

}
.Header{
  background-color:#656DA4;
  padding-bottom: 30px;
  height: 230px;
}

.containerStyles {
    background-color: #2D3250;
    padding: 0px 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin:0;
  }

  .logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .logoImg {
    width: 180px;
    height: 180px;
    padding: 20px;
  }
  
  .logo-text {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: aliceblue;
    padding: 20px;
  }
  .logo-text h1{
    margin-bottom: 10px;
    border-bottom: 2px solid white;
    font-size: 50px;
    font-family: 'Inter', sans-serif;
    font-weight:bolder;
    flex: 2;
  }
  .logo-text h4{
    font-size: 16px;
    font-family: 'Inter', sans-serif;
    font-weight: bolder;
    flex: 1;
  }

  .subtitle {
    text-align: center;
  }


  .buttonStyles {
  background-color: #3490dc;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 30px;
  }

  .profileBtn {
    margin-right: 10px;
  }
  
  .buttonContainer {
    padding: 0px 50px;
  }

  .menuBar {
    margin-left: 20px;
    justify-content: center;
  }
