
.nomination_box {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #2D3250;
    max-width: 80%;
    margin: 20px auto;
    align-items: center;
    padding-right: 20px;
    border-radius: 40px;

}

.nomin_form{
    padding: 10px;
}

.nomin_img{
    width: 50vw;
    border-radius: 40px;
    height: 80vh;
}

.primary_nominbox{
    display: flex;
    justify-content: space-between;
}

.secondary_nomin{
    margin: 20px;
}

.radio{
    width: 3em;
}

/* .InputForm{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: left;
} */

/* .inputElem {
    display: flex;
} */
p{
    font-weight: bold;
    /* justify-content: left; */
}
input{
    width:15em ;
    padding: .4em;
    border-radius: 10px;

}

.butt{
   text-align: center;
}

button{
    border-radius: 15px;
    padding: 8px;
    width: 90px;
    border: none;
    font-weight: 600;
    margin: 15px;
}