.card-slider-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 80%;
  margin: auto;
}

.carouselTitleContainer{
  text-align: left;
  margin-top: 20px;
}

.slides {
  /* margin-top: 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item {
  padding: 10px;
}

.carousel-item h1{
  margin: 20px;
} 

/* .CarouselContainer1 {
  width: 80%;
  height: 100%;
}

.CarouselItem1 img {
  width: 100%;
  height: 100%;
} */