.select_page{
  text-align: center;
  margin: 25px;
}
.convlink,
.alumlink {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: #333; /* You can set the color according to your design */
}

/* Padding for images */
.convo-img {
  padding: 10px; /* Adjust the padding according to your preference */
}
.each-container{
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}
.each-container:hover{
  transform: scale(1.1);

}