.containerStyles {
    background-color: #2D3250;
    border-radius: 8px;
    padding: 0px 0px 0px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo-text {
    justify-content: center;
    align-items: center;
  }

  .element {
    justify-content: center;
    align-items: center;
  }
  
  .buttonStyles {
  background-color: #3490dc;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  }
  
  .buttonContainer {
    padding: 0px 30px;
  }
  