.testimonial-slider {
  width: 100%;
  overflow: hidden;
}
.testimonial-slide {
  display: none; /* Hide all slides by default */
  text-align: center; /* If you want to keep text aligned centrally for each testimonial */
}

/* This will make the active slide visible */
.testimonial-slide.active {
  display: flex; 
  justify-content: center; 
  align-items: center;
}

.testimonial-content {
  display: flex;
  align-items: center;
  width: 40em; 
}

.testimonial-image {
  width: 50px; 
  height: 50px; 
  margin-right: 50px;
  margin-left: 50px;
  border-radius: 50%; 
  object-fit: cover; 
}

.testimonial-text {
  flex: 1; 
  font-style: italic;
  margin-bottom: 20px; 
  font-size: larger;
}

.imageGrid {
  padding: 40px;
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
}

.imageContainer {
  flex: 1; /* Each container takes equal space */
  margin-right: 20px; /* Add space between images */
  margin-bottom: 20px; /* Add space between rows */
  max-width: calc(50% - 20px); /* Each container takes half the width, considering margins */
}

.imageContainer img {
  width: 100%; /* Ensure images take the full width of their container */
  height: auto; /* Maintain aspect ratio */
}

/* Media Query for small screens */
@media only screen and (max-width: 767px) {
  .imageGrid {
    flex-direction: column; /* Change to column layout on smaller screens */
    align-items: center; /* Center items horizontally */
  }

  .imageContainer {
    max-width: calc(100% - 20px); /* Full width for smaller screens, considering margins */
    margin-right: 0; /* Remove right margin for full width */
  }

  .imageGrid {
    padding: 20px; /* Reduce padding for smaller screens */
  }
}
