.RegForm{
    /* align-items: center; */
    justify-content: center;
}
.InputFormContainer {
    color:white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #2D3250;
    max-width: 80%;
    margin: 20px auto;
    align-items: center;
    padding: 20px;
    border-radius: 40px;

}

.InputForm{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.inputElem {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}
p{
    margin-top: 10px;
    font-weight: bold;
    justify-content: left;
}
input, select{
    width: 20em ;
    height: 3em;
    padding: .4em;
    border-radius: 10px;

}
/* .buttonCon{
    justify-content: center;
} */
button{
    /* background-color: ; */
    border-radius: 15px;
    padding: 8px;
    width: 90px;
    border: none;
    font-weight: 600;
    margin: 15px;
}

.error {
    color: red;
    margin-top: 5px;
    padding-left: 10px;
}