.Wholepage{
    margin: 50px;
    border:2px solid black;
    /* background-color: #2D3250; */
    padding: 20px;
}
.container{
    border:2px solid black;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #656DA4;

}
.each{
    border:2px solid black;
    width: 30%;
    display: flex;
    flex-direction: column;
}